<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebAddr" value="https://api.kontakt.io" />
    <add key="AcceptHeader" value="application/vnd.com.kontakt+json;version=10" />
    <add key="PrivateAPIKey" value="QFZXLWQUGgRGuVxOgaJrJizaYbQfSJNX" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>